*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    min-height: 100%;
}
@font-face {
    font-family: Bahij-light;
    src: url('../fonts/Bahij_TheSansArabic-Light.ttf');
}
@font-face {
    font-family: Bahij-bold;
    src: url('../fonts/Bahij_TheSansArabic-Bold.ttf');
}
@font-face {
    font-family: font-pr;
    src: url('../fonts/Bauhaus\ 93\ Regular.ttf');
}
button{
    cursor: pointer;
}
input{
    outline: none;
}
body.bg-global{
    background-image:url('../images/2@3x.png') ;
    background-size: cover;
    padding: 12px 35px;
}
.wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    height: calc(100vh - 220px);
}
.content{
    padding:12px 40px;
    width: 100%;
}
#language{
    float: right;
    position: relative;
    background: transparent;
    border: none;
    font-family: Bahij-bold;
    font-size: 20px;
    color: #ffff;
    cursor: pointer;
    text-shadow: 0 3px 6px #ffffffde;
}
#language::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #540C6E;
    top: 30px;
    box-shadow: 0 3px 6px #ffffffde;
}
.logo{
    float: left;
    width: 163px;
}
.title{
    font-size: 28px;
    margin: 24px 0;
}
.text-center{
    text-align: center;
}
.title #init-title{
    font-family: font-pr;
    color: white;
    font-size: 24px;
    text-shadow: 0 0 6px #FF00FF;
    width: 80%;
    margin: auto;
    margin-top: 44px;
}
.title .init-mobile{
    display: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 57px 0 0 0;
}
.img-box{
    width: 35%;
    height: 100%;
    display: block;
    margin: auto;
}
.text-box{
    width: 42%;
}
.flex-text{
    background: linear-gradient(234.23deg, rgba(13, 255, 179, 0.7) -68.37%, rgba(136, 2, 136, 0.7) 141.33%);
    padding: 11px 55px 59px 56px;
    box-shadow: 0 0 11px #EE7FEE;
    border-radius: 3px;
}
.text-box .title{
    color: #540C6E;
    font-size: 59px;
    margin: 0;
    text-shadow: #FF02FFCC 0 0 8px;
    font-family: Bahij-light;
}
.text-box .title span{
    font-size: 29px;
    color: #6C2585;
}
.text-box #subtitle,
.text-box #subtitle2{
    font-size: 20px;
    color: white;
    font-family: Bahij-bold;
    text-shadow: 0 0 6px #ffffffa3;
}
.input-icons{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.input-icons input{
    padding: 0px 20px 0px 60px;
    text-align: center;
    width: 88%;
    border: none;
    border: 3px solid #540C6E;
    border-radius: 5px;
    box-shadow: 0 0 8px #fff;
    font-size: 20px;
    font-family: Bahij-light;
}
.input-icons .icon{
    position: absolute;
    top: 3px;
    left: 10%;
    padding-right: 20px;
    border-right: 1px solid #a5a5a5;
}
.input-icons .icon img{
    width: 16px;
    height: 30px;
}
.input-icons button{
    display: block;
    background-color: #4F0868;
    padding: 0;
    color: white;
    border: none;
    width: 88%;
    margin: 24px auto 0 auto;
    border-radius: 3px;
    box-shadow: 0 0 8px #fff;
    font-family: Bahij-bold;
    font-size: 23px;
}
.input-icons #send{
    background: linear-gradient(to right,#066580,#A800A8 );
}
#paragraph{
    margin-top: 30px;
    color: white;
    text-shadow:  0 0 8px #FF02FFCC;
    font-family: Bahij-light;
    font-size: 15px;
}
form:invalid input{
    border: 2px solid red !important;
}
form:invalid #validation-error{
    display: block !important;
}
form #validation-error{
    display: none;
    color: red;
    text-align: start;
    position: relative;
    left: 10%;
    width: max-content;
}

.check .main-img{
    display: block;
    margin: 77px auto;
    width: 40%;
}

@media screen and (max-width: 700px) {
    .wrap{
        height: auto;
    }
    .logo{
        width: 96px;
    }
    .content {
        padding: 0;
    }
    .flex{
        position: relative;
        padding: 102px 0;
        display: block;
        margin: 0;
    }
    .flex-text{
        width: 100%;
        margin: auto;
        padding: 11px 20px 20px 20px;
    }
    .img-box{
        width: 86%;
        position: absolute;
        top: 0;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0.5;
    }
    .title #init-title{
        font-family: Bahij-light;
        width: 100%;
        font-size: 15px;
        padding-top: 50px;
    }
    #paragraph{
        margin: 0;
    }
    .input-icons input{
        padding: 3px 20px 3px 45px;
        font-size: 16px;
    }
    .input-icons .icon{
        top: 5px;
    }
    .input-icons .icon img {
        width: 21px;
        height: 24px;
    }
    .check .main-img{
        width: 80%;
        margin: 112px auto 40px auto;
    }
}
@media screen and (max-width: 500px) {
    .img-box{
        width: 129%;
    }
    .text-box .title {
        font-size: 50px;
    }
    .text-box .title span{
        font-size: 30px;
    }
    .input-icons .icon{
        top: 6px;
        padding-right: 12px;
    }
    .input-icons .icon img {
        width: 16px;
        height: 22px;
    }
    .input-icons button {
        margin: 23px auto 0 auto;
        font-size: 22px;
    }
    .check .main-img{
        width: 100%;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    .text-box .title{
        font-size: 45px;
    }
    .text-box .title span{
        font-size: 33px;
    }
    .input-icons input{
        font-size: 19px;
    }
    .input-icons .icon {
        top: 7px;
        height: 32px;
    }
    .input-icons .icon img {
        width: 18px;
    }
    .img-box {
        width: 50%;
    }
    .flex-text{
        padding: 11px 10px 39px 11px;
    }
    .title #init-title {
        width: 80%;
        font-size: 19px;
    }
    .content{
        padding: 0;
    }
}
@media screen and (min-height: 1025px) {
    .wrap{
        height: auto;
    }
    .input-icons .icon {
        top: 3px;
        height: 28px;
    }
    .content{
        padding: 0;
    }
    .check .main-img{
        width: 70%;
    }
}
@media screen and (min-height: 700px) {
    body{
        padding: 20px 35px;
    }
}
@media screen and (max-height: 500px) {
    .wrap{
        height: auto;
    }
}
@media screen and (min-height: 1025px),
        screen and (min-width:1000px){
    .wrap{
        height: calc(100vh - 220px);
    }
}
@media screen and (min-height: 1025px),
        screen and (min-width:1500px){
        .check .main-img{
            width: 50%;
        }
}
@media screen and (min-height: 1000px) and (max-width:900px){
    .wrap{
        height: calc(100vh - 700px);
    }
}
@media screen and (width: 1024px) and (height:1366px){
    .wrap{
        height: calc(100vh - 700px);
    }
}